<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cest.dao.SecKillUserMapper">
  <resultMap id="BaseResultMap" type="com.cest.entity.SecKillUser">
      <id column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="nickname" property="nickName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="salt" property="salt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="head" property="head" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="head" property="registerTime" javaType="java.util.Date" jdbcType="DATE" />
      <result column="head" property="lastLoginTime" javaType="java.util.Date" jdbcType="DATE" />
      <result column="head" property="lastLoginTime" javaType="java.lang.Integer" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="queryList" resultMap="BaseResultMap">
    SELECT * from SECKILL_USER
  </select>
</mapper>